:root{
    --crazy-blue: #3939FF;
    --depressing-purple: #290744;
    --angel-white: #FFFFFF;
    --dirty-angel: #dbdada;
    --ocuppied: #42cf00;
    --selected: #dac60f;
    --radius: 3px;
}

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--angel-white);
    overflow-x: hidden;
}

.text-crazy-blue{
    color: var(--crazy-blue);
}

.main-content{
    margin-top: 30px;
}

.log-button, .custom-button, .unselect-button{
    color: var(--crazy-blue);
    background-color: var(--angel-white);
}
  
.log-button:hover, .custom-button:hover, .close-button{
    color: var(--angel-white);
    background-color: var(--crazy-blue);
}
  
.unselect-button:hover{
    background-color: var(--dirty-angel);
    color: var(--crazy-blue);
}


.close-button:hover{
    background-color: #2d2dff;
}


.log-button{
    width: 100px;
    display: none;
}

.alert-custom{
    position: absolute;
    width: 100%;
    bottom:0;
}

/* Navbar */
.navbar {
    background-image: url("../images/holografic-background.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 20px;
}

.navbar-brand .logo {
    height: 50px;
}

#navbarSupportedContent{
    flex-grow: 0;
}

.navbar-toggler-icon {
    background-image: url("../images/menu_icon.png");
    filter: invert();
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .navbar .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: -0.5rem;
    }
}

nav .container-fluid{
    --bs-gutter-x: 0px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/* -------- Scroll bar -------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--angel-white);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--crazy-blue);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--depressing-purple);
  }